@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Roboto:wght@100;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

body {
  max-width: 100%;
}

#sobre,
#habilidades,
#portfolio,
#contato {
  padding: 5rem 0;
  height: auto;
}

.navbar {
  height: 4rem;
}

.navbar a {
  color: #fff;
  padding: 0.5rem;
  margin-right: 20px;
  text-align: center;
}

.navbar a:hover {
  background-color: #5192ee;
  border-radius: 5px;
  color: #fff;
}

.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar .navbar-toggler {
  color: #5192ee;
}

.navbar-nav .active .nav-link {
  color: red;
}

.scrollNavbarOn {
  background: #303336;
}

.nameNavbar {
  font-weight: 400;
}

.bgImage {
  height: 100vh;
  position: relative;
  background: url("image/heroImage.jpg");
  background-size: cover;
}

.heroTitle {
  font-size: 5rem;
}

.heroDesc {
  font-size: 3rem;
}

.heroText {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

#sobre {
  height: auto;
  margin: 150px 20px;
}

.aboutText {
  text-align: justify;
  font-size: 1rem;
}

.subTitleAbout {
  border-bottom: 1px solid #303633;
}

#habilidades {
  height: auto;
  margin-top: 150px;
}

.card {
  text-align: justify;
}

.cardBody {
  margin: 1rem 1rem;
}

.cardTitle {
  display: flex;
}

.cardTitleText {
  text-align: start;
}

.cardText {
  text-align: justify;
}

.skillsText {
  cursor: pointer;
  padding: 0 2rem;
  text-align: center;
}

.skillsIcon {
  font-size: 3rem;
  padding-right: 2rem;
}

.card:hover .skillsIcon {
  color: #5192ee;
}

.skillsText:hover {
  border: 1px solid #5192ee;
}

#portfolio {
  margin-top: 150px;
}

#contato {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding-top: 80px;
  padding-bottom: 0;
}

.cardBodyContact {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.contactText {
  font-size: 15px;
  text-decoration: none;
  color: black;
}

.contactIcon {
  color: black;
  font-size: 3rem;
}

footer {
  background-color: 303336;
  height: 4rem;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerIcon {
  color: white;
  font-size: 1.5rem;
}

.footerIcon:hover {
  color: #5192ee;
}

/* Efeito GlassMorphismo*/
/* From https://css.glass */
.glass {
  position: absolute;
  height: 30%;

  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: rgba(56, 60, 62, 0.11);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.4px);
  -webkit-backdrop-filter: blur(2.4px);
}

/* Responsividade*/

@media (max-width: 991px) {
  .navbar-collapse {
    background-color: #303336;
  }
}

@media (max-width: 1400px) {
  .contato-mapa {
    width: 100%;
  }
}
