@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Roboto:wght@100;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

body {
  width: 100%;
  height: 100%;
}

#sobre,
#habilidades,
#portfolio,
#contato {
  padding-top: 5rem;
  height: auto;
  width: 100%;
  margin-top: 150px;
}

.navbar {
  height: 4rem;
}

.navbar a {
  color: #fff;
  padding: 0.5rem;
  margin-right: 20px;
  text-align: center;
}

.navbar a:hover {
  background-color: #5192ee;
  border-radius: 5px;
  color: #fff;
}

.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar .navbar-toggler {
  color: #5192ee;
}

.scrollNavbarOn {
  background: #303336;
}

.nameNavbar {
  font-weight: 400;
}

.bgImage {
  height: 100vh;
  position: relative;
  background: url("image/heroImage.jpg");
  background-size: cover;
}

.heroTitle {
  font-size: 4rem;
}

.heroDesc {
  font-size: 3rem;
}

.heroText {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.aboutText {
  text-align: justify;
  font-size: 1rem;
}

.subTitleAbout {
  border-bottom: 1px solid #303633;
}

.card {
  height: 800px;
}

.cardBody {
  margin: 1rem 1.5rem;
}

.cardTitle {
  display: flex;
  align-items: center;
}

.cardTitleText {
  text-align: start;
}

.cardText {
  text-align: justify;
}

.skillsText.card {
  cursor: pointer;
  padding: 0 2rem;
  text-align: center;
  height: 100%;
}

.skillsIcon {
  font-size: 3rem;
  padding-right: 2rem;
}

.card:hover .skillsIcon {
  color: #5192ee;
}

.skillsText:hover {
  border: 1px solid #5192ee;
}

.portfolioText.card {
  cursor: pointer;
  text-align: center;
  height: 100%;
}

#contato {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  margin-bottom: 10px;
}

.contactContent .card {
  display: flex;
  justify-content: center;
  height: 200px;
}

.cardBodyContact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.contactText {
  font-size: 15px;
  text-decoration: none;
  color: black;
  text-align: center;
}

.contactIcon {
  color: black;
  font-size: 3rem;
}

.mapa {
  height: 450px;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: 303336;
  height: 10vh;
}

.footerIcon {
  color: white;
  font-size: 1.4rem;
}

.footerIcon:hover {
  color: #5192ee;
}

.footer p {
  margin: 0;
}

.icons {
  display: flex;
  justify-content: space-around;
}

/* Efeito GlassMorphismo*/
/* From https://css.glass */
.glass {
  position: absolute;
  height: 30%;

  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: rgba(56, 60, 62, 0.11);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.4px);
  -webkit-backdrop-filter: blur(2.4px);
}

/* Responsividade*/

@media (max-width: 450px) {
  .heroTitle {
    font-size: 1rem;
  }

  .heroDesc {
    font-size: 0.5rem;
  }
}

@media (max-width: 650px) {
  .heroTitle {
    font-size: 2rem;
  }

  .heroDesc {
    font-size: 1rem;
  }

  .skillsText.card {
    padding: 0;
  }
}

@media (max-width: 850px) {
  .glass {
    height: 50%;
  }
  .heroTitle {
    font-size: 3rem;
  }

  .heroDesc {
    font-size: 2rem;
  }
}

@media (max-width: 991px) {
  .navbar-collapse {
    background-color: #303336;
  }

  .mapa {
    height: 350px;
  }

  .footer {
    padding-top: 10px;
    height: 5rem;
  }

  .footer .icons {
    margin-bottom: 7px;
  }

  .footer p {
    text-align: center;
  }
}

@media (max-width: 1400px) {
  #contato .card {
    margin-top: 1rem;
  }

  .contato-mapa {
    width: 100%;
  }

  #contato {
    height: auto;
  }
}
